/* #region Body */
body {
    margin: 0;
    article{
    text-align: center;
    font-size: 2vw;
    }
}
article{
    border-style: solid;
    color: black;
    background-color:rgba(47, 79, 79, 0.603);
    width: 50%;
    align-items: center;
    margin: auto;
}
.Images{
    width: 100%;
}
.headers {
    font-size: 3vw;
    text-decoration: underline double;
    margin: 0;
    text-align: center;
    background-color: black;
    color: white;
}
main{
    background-image: url(Images/Backgroud\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/* #endregion */
/* #region Hero Images */

header {
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    margin-top: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
}

.title {
    font-size: 2vw;
    margin: auto;
    width: 20%;
    height: 10%;
    padding-top: 7vw;
}

.title>h1 {
    margin:0;
    border: black;
    border-style: solid;
}

.home{
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(Images/mount\ timp.png);
    background-position: top;
    background-attachment: fixed;
}
nav>ul{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    margin-top: 0;
    padding-top: 6vw;
}
nav>ul>a{
text-decoration: none;
border: white;
background-color: black;
padding-left: 5vw;
padding-right: 5vw;
color: white;
border-style: solid;
margin-left: 1vw;
margin-right: 1vw;
}
nav>ul>a>li{
    list-style:none;
    
}
#active{
    background-color: darkslategrey;
}

/* #endregion /*
/* #region Navigation */
/* #region Navbar Phone */
@media screen and (max-width: 440px){

nav ul{
    flex-direction: column;
    font-size: 2.5em;
}
nav ul li{
    margin: 0;
    border-radius: 0px;
} 
article{
    width: 90%;
}
article>p{
    width: 90%;
    font-size: 8vw;
}
article>h1{
    font-size: 8vw;
}
figcaption{
    font-size: 8vw;
}
h1{
    font-size: 8vw;
}
.headers{
    font-size: 8vw;
}

}
/* #endregion */
/* #endregion */